@font-face {
    font-family: "KyFont";
    src: url(KyivTypeSans-VarGX.ttf);
}


* {
    --font-family: "KyivType Sans", sans-serif;
    --second-family: "Inter", sans-serif;
    font-family: var(--font-family);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 82px;
    background: linear-gradient(90deg, #333 58.65%, #cfcfcf 100%);
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

#NET_1,
p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

#NET_1 {
    color: #0abab5;
}

#search_1 {
    position: relative;
    border-radius: 10px;
    width: 678px;
    height: 57px;
    background: #1c1c1c;
    padding: 3px;
    margin: 0 auto;
}

#input_search {
    position: absolute;
    border-radius: 10px;
    width: 564px;
    height: 50px;
    font-size: 20px;
    color: black;
    border: none;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 0.6%;
    margin-left: 0.5%;
}


#magnifying_glass {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

#log_in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#log_in_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#register_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#box_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#main_content {
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 30px;
    width: 865px;
    height: 804px;
    background: #252525;
    min-height: 500px;
    transform: translateX(-10%);
    opacity: 0;
    z-index: -1;
}

#main_text {
    font-family: var(--font-family);
    font-weight: 350;
    font-size: 64px;
    color: #fff;
    margin: 10px;
    padding: 20px;
    transform: translate(20%);
    opacity: 0;
    z-index: -1;
}

#side_main_text {
    font-family: var(--font-family);
    font-weight: 350;
    font-size: 28px;
    color: #fff;
    margin: 10px;
    padding: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 30px;
}

#main_button {
    position: absolute;
    border: 3px solid #ffffff;
    border-radius: 9px;
    width: 386px;
    height: 77px;
    background: #fff;
    top: 62vh;
    cursor: pointer;
    transition: 0.2s;
}

#main_button:hover {
    transform: scale(1.05);
    transition: 0.2s;
    border: 4px solid #0abab5;
}

#main_button_text {
    font-family: var(--font-family);
    font-weight: 350;
    font-size: 28px;
    color: #000;
}


#main_text_right_3 {
    margin: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
    background: linear-gradient(90deg, #cfcfcf 0%, #333 59%);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-wrapper {
    min-height: calc(100vh - 164px);
    padding-bottom: 82px;
    box-sizing: border-box;
    position: relative;
}

#line_container {
    position: relative;
    width: 650px;
    height: 7px;
    background-color: #000;
    margin: 0 auto;
    overflow: visible;
    bottom: 400px;
    left: 27%;
}

#main_text_right_3 {
    position: absolute;
    font-family: var(--font-family);
    font-size: clamp(80px, 15vw, 250px);
    color: #000;
    font-weight: 350;
    right: 0;
    top: 0;
    transform: translateY(-50px);
    opacity: 0;
    left: 120px;
}

#main_text_right_2 {
    position: absolute;
    font-family: var(--font-family);
    font-size: clamp(80px, 15vw, 250px);
    color: #000;
    font-weight: 350;
    left: 0;
    bottom: 0;
    transform: translateY(50px);
    opacity: 0;
}

#products {
    position: absolute;
    border-radius: 20px;
    border: #000 3px solid;
    width: 25vw;
    height: 30vh;
    background: #585858;
    top: 10vh;
    left: 25vw;
    z-index: 1;
    transition: 0.2s;
}

.card {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background: white;
    color: #000;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.2s;
}

.card:hover {
    background: #363636;
    color: white;
    transform: scale(1.03);
    transition: 0.2s;
    border: 2px solid #0abab5
}

#main_text_right_2 {
    animation: textDown 0.5s forwards;
    animation-delay: 1s;
}

#main_text_right_3 {
    animation: textUp 0.5s forwards;
    animation-delay: 1s;
}

@keyframes textUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }    
}

@keyframes textDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#line_container {
    animation: growLine 1s forwards;
}

@keyframes growLine {
    from { width: 0; }
    to { width: 720px; }
}

#main_content {
    animation: blackTriangle 0.5s forwards;
    animation-delay: 1s;
}

@keyframes blackTriangle {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#main_text {
    animation: main_text_rihgt 0.5s forwards;
    animation-delay: 1;
}

@keyframes main_text_rihgt {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1366px){
    #main_content{
        width: 616px ;
        height: 585px;
    }

    #main_text{
        font-size: 51px;
        margin: 1px;
    }
    #side_main_text{
        font-size: 21px;
        margin: 1px;
    }
    #main_button{
        width: 289px;
        height: 57px;
    }
    #main_button_text{
        font-size: 21px;
    }

    #line_container{
        bottom: 300px;
        width: 300px;
        height: 7px;
        left: 25vw;
    }

    @keyframes growLine {
        from { width: 0; }
        to { width: 520px; }
    }

    #main_text_right_2{
        font-size: 11rem;
    }

    #main_text_right_3{
        font-size: 11rem;
        left: 6vw;
    }

    #magnifying_glass{
        width: 152px;
        height: 87px;
    }

    img{
        width: 30px;
        height: auto;
    }

    #log_in_text{
        font-size: 1rem;
    }

    #register_text{
        font-size: 1rem;
    }

    #box_text{
        font-size: 1rem;
    }
    .header-right{
        gap: 10px;
    }
    header{
        padding: 0 2vw;
    }
}

@media (max-width: 1020px){

}
