@font-face {
    font-family: "KyFont";
    src: url(../fonts/KyivTypeSans-VarGX.ttf);
}

* {
  --font-family: "KyFont", sans-serif;
  --second-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 82px;
    background: linear-gradient(90deg, #333 58.65%, #cfcfcf 100%);
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

#NET_1,
p {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 700, 'CONT' 500, 'MIDL' 0;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

#NET_1 {
    color: #0abab5;
}

#search_1 {
    position: relative;
    border-radius: 10px;
    width: 678px;
    height: 57px;
    background: #1c1c1c;
    margin: 50px;
}

#input_search {
    position: absolute;
    border-radius: 8px;
    width: 564px;
    height: 50px;
    font-size: 20px;
    color: black;
    border: none;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 0.6%;
    margin-left: 0.5%;
}

#magnifying_glass {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

#link {
    text-decoration: none;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#home_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#main_rectangle_right {
    width: fit-content;
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 50%;
    background: #2b2b2b;
    float: right;
}

#main_rectangle_text_up,
#main_rectangle_text_down {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 350;
    font-size: clamp(80px, 15vw, 250px);
    color: #fff;
    left: 5%;
    white-space: nowrap;
}

#main_rectangle_text_up {
    top: 10%; 
    min-height: 100%;
    min-width: 10%;   
    opacity: 0; 
}

#main_rectangle_text_down {
    bottom: 20%; 
    min-height: 10%;
    min-width: 100%;  
    opacity: 0;
    left: 3.5%;
}

#main_rectangle_left {
    position: relative;
    height: 100vh;
    min-height: 600px;
    margin: 0 auto;
}

#rectangle_up,
#rectangle_down {
    position: fixed;
    border-radius: 43px;
    width: 269px;
    height: 540px;
    background: #383838;
    transform: rotate(-37deg);
    z-index: -1;
}

#rectangle_down {
    right: 99%;
    top: 63%;
    opacity: 0;
}

#rectangle_up {
    left: 46%;
    bottom: 63%;
    opacity: 0;
}

#form_registration {
    position: relative;
    border-radius: 30px;
    width: min(509px, 90vw);
    height: min(697px, 90vh);
    background: #2b2b2b;
    left: 50%;
    top: 45%;
    transform: translate(-150%, -50%);
    max-width: 509px;
    max-height: 697px;
    opacity: 0;
}

#main_text_registration {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(32px, 5vw, 48px);
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: min(40px, 5vh);
    margin: 10px;
    text-align: center;
}
 
#side_text_registration {
    display: flex;
    justify-content: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    padding-bottom:60px;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
}

#href_registration {
    color: white;
    font-weight: 700;
    margin-left: 5px;
    background-color: transparent;
    text-decoration: none;
}

#main_form_registration {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 70px);
    gap: 10px;
    padding: 20px;
}

#main_form_registration_user,
#main_form_registration_email,
#main_form_registration_password,
#main_form_registration_confirm_password {
    border: white 2px solid;
    border-radius: 15px;
    background: #1e1e1e;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding: 0 15px;
}

#main_form_registration_button {
    margin-top: 60px;
    border-radius: 15px;
    height: 86px;
    background: #fff;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    width: 100%;
    cursor: pointer;
}

#error_message {
    position: absolute;
    top: 10vh;
    left: 50vw;
    border-radius: 15px;
    width: 10vw;
    height: 7.5vh;
    background: #000;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3vh;
    text-align: center;
    color: #ff0000;
    border: 2px #ff0000 solid;
    transition: 0.3s;
    opacity: 0.2;
}

#products {
    position: absolute;
    border-radius: 20px;
    border: #000 3px solid;
    width: 25vw;
    height: 30vh;
    background: #585858;
    top: 10vh;
    left: 16vw;
    z-index: 1;
    transition: 0.2s;
}

.card {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background: white;
    color: #000;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.2s;
}

.card:hover {
    background: #363636;
    color: white;
    transform: scale(1.03);
    transition: 0.2s;
    border: 2px solid #0abab5
}

a {
    text-decoration: none;
}

#main_rectangle_text_up {
    animation: main_rectangle_text_up_anima 0.5s forwards;
}

@keyframes main_rectangle_text_up_anima {
    to {
        top: 20%; 
        min-height: 100%;
        min-width: 10%;
        opacity: 1;
    }
}   

#main_rectangle_text_down {
    animation: main_rectangle_text_down_anima 0.5s forwards;
}

@keyframes main_rectangle_text_down_anima {
    to {
        bottom: 30%; 
        min-height: 10%;
        min-width: 100%;  
        opacity: 1;
    }
}

#rectangle_up {
    animation: rectangle_up_anima 0.5s forwards;
}

@keyframes rectangle_up_anima {
    to {
        left: 40.5%;
        bottom: 55%;
        opacity: 1;
    }
}

#rectangle_down {
    animation: rectangle_down_anima 0.5s forwards;
}

@keyframes rectangle_down_anima {
    to {
        right: 91%;
        top: 63%;
        opacity: 1;        
    }
}

#form_registration {
    animation: form_registration_anima 0.5s forwards;
}

@keyframes form_registration_anima {
    to {
        opacity: 1;
    }
}