@font-face {
    font-family: "KyFont";
    src: url(../fonts/KyivTypeSans-VarGX.ttf);
}


* {
  --font-family: "KyFont", sans-serif;
  --second-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 8vh;
    background: linear-gradient(90deg, #333 58.65%, #cfcfcf 100%);
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

#NET_1,
p {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 700, 'CONT' 500, 'MIDL' 0;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

#NET_1 {
    color: #0abab5;
}

a {
  text-decoration: none;
}

#love_img {
  width: 90px;
}

#basket_img {
  width: 70px;
}

#box_img {
  margin-top: -8px;
  width: 60px;
  height: 60px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#home_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#search_1 {
    position: relative;
    border-radius: 10px;
    width: 678px;
    height: 57px;
    background: #1c1c1c;
    padding: 0px;
    margin: 0 auto;
}

#input_search {
    position: absolute;
    border-radius: 8px;
    width: 564px;
    height: 50px;
    font-size: 20px;
    color: black;
    border: none;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 0.6%;
    margin-left: 0.5%;
}


#magnifying_glass {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

#log_in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#log_in_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#register_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#box_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-top: -1vh;
}

#left_rectangle {
  position: fixed;
  width: 60vw;
  height: 200vh;
  background: #2b2b2b;
  transform: rotate(16deg);
  left: -40vw;
  top: -50vh;
  z-index: -1;
  animation: left_rectangle_anima 0.7s forwards
}

#line_white {
  position: fixed;
  border: 0.3vw solid #ffffff;
  width: 0.8vw;
  left: 0vw;
  top: 12vh;
  opacity: 0;
}

#line_black {
  position: fixed;
  border: 0.3vw solid #2b2b2b;
  width: 45.6vw;
  right: 100vw;
  top: 12vh;
  z-index: -1;
  opacity: 0;
}

#products_all {
  position: relative;
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  gap: 4vw;
  padding: 2vh 5vw;
  color: white;
}

#products_left,
#products_center,
#products_right {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  opacity: 0;
  margin-top: -15vh;
}

#Giga_text_p, #Meta_text_p, #SEO_text_p {
  font-size: 1.7vw;
  margin: 0;
  margin-top: 1vh;
}

#Giga_text_span, #Meta_text_span, #SEO_text_span {
  font-size: 0.8vw;
  margin: 0;
  margin-bottom: 2vh;
}

#Video_text_p, #Cripto_text_p, #Break_text_p {
  font-size: 1.2vw;
  margin: 0;
  margin-bottom: 1vh;
  line-height: 1.3;
}

#Video_text_span, #Cripto_text_span, #Break_text_span {
  font-size: 0.7vw;
  margin: 0;
  margin-bottom: 2vh;
}

#Giga_line, #Meta_line, #SEO_line,
#Video_line, #Cripto_line, #Break_line {
  width: 6vw;
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  cursor:pointer; 
}

.card_img {width:100%;
  height:auto;
  display:block;
  border-radius:8px
}

.card_link {
  display:block;
  text-decoration:none;
  color:inherit}


.card_link { 
  display:block; 
  text-decoration:none; 
  color:inherit; 
}

.card_link:hover,
.card_link:focus { 
  text-decoration:none; 
}

#Giga, #Meta, #SEO {
  border-radius: 10px;
  position: relative;
  width: 25vw;
  height: 40vh;
  background: #3f3f3f;
  font-family: var(--font-family);
  font-variation-settings: 'wght' 350, 'CONT' 500, 'MIDL' 0;
  font-weight: 350;
  color: #fff;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  cursor:pointer; 
  top: -5vh;
}

#Video, #Cripto, #Break {
  border-radius: 10px;
  position: relative;
  width: 25vw;
  height: 34vh;
  background: #3f3f3f;
  font-family: var(--font-family);
  font-variation-settings: 'wght' 350, 'CONT' 500, 'MIDL' 0;
  font-weight: 350;
  color: #fff;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  cursor:pointer; 
  top: -5vh;
}

.card_img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#products {
    position: absolute;
    border-radius: 20px;
    border: #000 3px solid;
    width: 25vw;
    height: 30vh;
    background: #585858;
    top: 10vh;
    left: 21.5vw;
    z-index: 1;
    transition: 0.2s;
}

.card {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background: white;
    color: #000;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.2s;
}

.card:hover {
    background: #363636;
    color: white;
    transform: scale(1.03);
    transition: 0.2s;
    border: 2px solid #0abab5
}

a {
    text-decoration: none;
}

#line_white {
  animation: line_white_anima 0.7s forwards;
}

@keyframes line_white_anima {
  to {
    width: 50.8vw;
    left: 4vw;
    opacity: 1;
  }
}

#line_black {
  animation: line_black_anima 1.4s forwards;
}

@keyframes line_black_anima {
  to {
    right: 0;
    opacity: 1;
  }
}

#products_left {
  animation: products_left_anima 0.8s forwards;
}

@keyframes products_left_anima {
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#products_center {
  animation: products_center_anima 0.8s forwards;
  animation-delay: 0.1s;
}

@keyframes products_center_anima {
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#products_right {
  animation: products_right_anima 0.8s forwards;
  animation-delay: 0.2s;
}

@keyframes products_right_anima {
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes left_rectangle_anima {
  to {
    left: -12vw;
  }
}