@font-face {
    font-family: "KyFont";
    src: url(../fonts/KyivTypeSans-VarGX.ttf);
}


* {
  --font-family: "KyFont", sans-serif;
  --second-family: "Inter", sans-serif;
  box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 82px;
    background: linear-gradient(90deg, #333 58.65%, #cfcfcf 100%);
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

#NET_1,
p {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 700, 'CONT' 500, 'MIDL' 0;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

#NET_1 {
    color: #0abab5;
}

#search_1 {
    position: relative;
    border-radius: 10px;
    width: 678px;
    height: 57px;
    background: #1c1c1c;
    margin: 50px;
}

#input_search {
    position: absolute;
    border-radius: 8px;
    width: 564px;
    height: 50px;
    font-size: 20px;
    color: black;
    border: none;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 0.6%;
    margin-left: 0.5%;
}


#magnifying_glass {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

#link {
    text-decoration: none;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

#home_text {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

#main_rectangle_left {
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 50%;
    background: #2b2b2b;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

#rectangle_left_text_up, 
#rectangle_left_text_down {
    position: absolute  ;
    font-family: var(--font-family);
    font-variation-settings: 'wght' 350, 'CONT' 500, 'MIDL' 0;
    font-weight: 350;
    font-size: 250px;
    color: #fff;
    text-align: right;
    margin: 0;
    padding: 0;
}

#rectangle_left_text_up {
    top: 15%;
    right: 5.5%;
    opacity: 0;
}

#rectangle_left_text_down {
    bottom: 25%;
    right: 7.9%;
    opacity: 0;
}

#main_rectangle_right {
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 50%;
    float: right;
    margin: 0;
}

#rectangle_up,
#rectangle_down {
    position: fixed;
    border-radius: 43px;
    width: 269px;
    height: 540px;
    background: #383838;
    transform: rotate(37deg);
    z-index: -1;
    opacity: 1;
}

#rectangle_up {
    left: 41%;
    bottom: 55%;
}

#rectangle_down {
    left: 95%;
    top: 63%;
}

#form_sign_in {
    position: absolute;
    border-radius: 30px;
    width: min(509px, 90vw);
    height: min(697px, 90vh);
    background: #2b2b2b;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    max-width: 509px;
    max-height: 697px;
    opacity: 0;
    padding: 40px; 
}

#main_text_sign_in {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px; 
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 10px;
    text-align: center;
}

#side_text_sign_in {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 15px;
}

#href_sign_in {
    color: white;
    font-weight: 700;
    margin-left: 5px;
    background-color: transparent;
    text-decoration: none;
}

#main_form_sign_in {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 70px);
    gap: 10px;
    padding: 0px;
}

#main_form_sign_in_user,
#main_form_sign_in_password {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 2px solid;
    border-radius: 15px;
    background: #1e1e1e;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding: 15px;
}

#main_form_sign_in_button {
    margin-top: 210px;
    border-radius: 15px;
    height: 86px;
    background: #fff;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    width: 100%;
    cursor: pointer;
}

#products {
    position: absolute;
    border-radius: 20px;
    border: #000 3px solid;
    width: 25vw;
    height: 30vh;
    background: #585858;
    top: 10vh;
    left: 16vw;
    z-index: 1;
    transition: 0.2s;
}

.card {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background: white;
    color: #000;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.2s;
}

.card:hover {
    background: #363636;
    color: white;
    transform: scale(1.03);
    transition: 0.2s;
    border: 2px solid #0abab5
}

a {
    text-decoration: none;
}

#rectangle_left_text_up {
    animation: rectangle_left_text_up_anima 0.5s forwards;
}

@keyframes rectangle_left_text_up_anima {
    to {
        top: 20%;
        opacity: 1;
    }
}

#rectangle_left_text_down {
    animation: rectangle_left_text_down_anima 0.5s forwards;
}

@keyframes rectangle_left_text_down_anima {
    to {
        bottom: 30%;
        opacity: 1;
    }
}

#rectangle_up {
    animation: rectangle_up_anima 0.5s forwards;
}

@keyframes rectangle_up_anima {
    to {
        left: 46%;
    }
}

#rectangle_down {
    animation: rectangle_down_anima 0.5s forwards;
}

@keyframes rectangle_down_anima {
    to {
        left: 90%;
    }
}

#form_sign_in {
    animation: form_sign_in_anima 0.5s forwards;
}

@keyframes form_sign_in_anima {
    to {
        opacity: 1;
    }
}